:root {

}
button:hover, button:focus{
	opacity: 0.7;
	color: black;
}

.container {
	width: 85%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.col {
	width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
	max-height: 100%;
  max-width: 100%;
	object-fit: cover;
  pointer-events: none;
}

.logo-container {
	display: flex;
	align-self: stretch;
	width: 20%;
}

h1, h2 {
	font-family: "Noto Sans JP";
	font-weight: 700;
	text-shadow: 1px 1px 4px black;
	letter-spacing: 0.05em;
}

p {
	overflow-wrap: word-break;
	max-width: 100%;
	line-height: 1.4em;
	letter-spacing: 0.04em;
	overflow: scroll;
}

.App-title {
	margin: 0.5em;
}

.title-container {
	align-self: center;
	margin: 0 auto;
	padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*Colors:
Green = hsl(39, 92, 56)
Orange-Yellow = hsl(39, 92, 56)
White
Default paddings 1.5em
Border-radiuses 3 px
Box-shadows 0px 1px 6px
reg font- "Noto Sans JP", monospace
header fonts- "Oxygen", sans-serif
*/
body::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsl(0, 0%, 75%);
}

.App-header {
	position: sticky;
	top: 0;
  min-height: 3em;
  font-size: calc(10px + 2vmin);
  color: #fff;
	background-color: hsl(39, 92%, 56%);
	padding: 1px;
  text-align: center;
  box-shadow: 0 2px 6px black;
  z-index: 2;
  transition: top 350ms ease-out 50ms;
}

.App-header--hidden {
  top: calc(-44px - 8vmin);
}

.nav__list {
	list-style: none;
	justify-content: flex-start;
	padding: 0;
}

.nav__link {
	text-decoration: none;
	text-shadow: 1px 1px 3px black;
	color: #fff;
	font-size: 1.3em;
	font-weight: 400;
	font-family: "Noto Sans JP", monospace;
	letter-spacing: 0.05em;
	padding: 0.5em;
	white-space: nowrap;
	position: relative;
}

.nav__link::before {
    content: "";
    display: block;
    height: 3px;
		box-shadow: 0px 2px 6px black;
    background: #fff;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    transform: scale(1, 0);
    transition: transform ease 250ms;
  }
  .nav__link:hover::before,
  .nav__link:focus::before, .nav__link:active::before, .nav--active::before  {
    transform: scale(1, 1);
  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page{
	position: relative;
	z-index: 1;
}
/*Chat Component styles
*/
.chat__header {
	position: sticky;
	top: 0;
	background-color: #fff;
	color: hsl(123, 23%, 27%);
	justify-content: center;
	min-height: 50px;
	font-size: 1.15em;
	border-bottom: 1px solid hsl(0, 0%, 75%);
	padding: 0.5em;
	box-shadow: 0 1px 4px gray;
}
.chat__name {
	margin: 0 auto;
}
.userlist {
	margin: 0;
	background-color: #fff;
	color: hsl(123, 23%, 27%);
	justify-content: center;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid hsl(0, 0%, 75%);
}
.userlist__name {
	padding: 0.7em;
	border-bottom: 1px solid hsl(0, 0%, 75%);
	display: flex;
	justify-content: center;
	box-shadow: 0 2px 6px gray;
	font-weight: 600;
}
.userlist__toggle {
	position: absolute;
	right: 0.5em; bottom: 0;
	height: 100%;
	border: none;
	background-color: #fff;
	color: hsl(123, 23%, 27%);
	padding: 12px 16px;
	font-size: 1.2em;
	cursor: pointer;

}
.online-dot {
  width: 0.5em;
	height: 0.5em;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-color: hsl(123, 50%, 50%);
	display: inline-block;
	align-self: center;
}
.chat__messages {
	margin: 0;
	background-color: hsl(0, 0%, 75%);
	padding-bottom: 5em;
	position: sticky;
}
.msgcontainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1100px;
}
.outMessage, .inMessage {
	width: 70%;
	max-width: 500px;
	box-shadow: 0 1px 4px grey;
	padding: 0.5em 1em;
	position: relative;
	margin: 0.4em 2px;
	padding-bottom: 1.5em;
	text-align:left;
	overflow: hidden;
}
.inMessage {
	align-self: flex-start;
	background-color: #fff;
	border-radius: 0.3em 1em 0.6em;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
.outMessage {
	align-self: flex-end;
	background-color: hsl(123, 23%, 27%);
	color: #fff;
	border-radius: 0.6em 1em 0.3em;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
.msginfo {
	font-size: 0.5em;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 95%;
	padding: 0;
	margin: 0;
	text-align: right;
}
.chat__input{
	position: fixed;
	bottom: 0; left: 0;
	width: 100%;
	display: flex;
	align-items: stretch;
}
.message__input {
	border: 1px solid hsl(0, 0%, 75%);
	font-size: 1.6em;
	height: 3.5em;
	position: relative;
	box-shadow: 0 -2px 6px gray;
	padding: 0.5em 2.5em 0.5em 0.5em;
}
.send__button {
	position: absolute;
	right:0.8em; top: 0.8em;
	border: none;
	border-radius: 1em;
	color: hsl(123, 23%, 27%);
	background-color: hsl(39, 92%, 56%);
	padding: 0;
	width: 4em;
	height: 4em;
	cursor: pointer;
	border-radius: 2em;
	box-shadow: 0 1px 4px black;
}
* {
	//border: 1px solid red;
}
/*contacts styles*/
.inputRow {
	background-color: #fff;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}
.call-input, .dl-input {
	width: 80%;
	border-radius: 0.3em;
	font-size: 16px;
	line-height: 20px;
}

.fab-row{
	width: 35%;
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	bottom: 3em;
	right: 1.5em;
}
.audio-callbtn, .video-callbtn {
	width: 3em;
	height: 3em;
	border: none;
	border-radius: 1.5em;
	background-color: hsl(39, 92%, 56%);
	padding: 12px 12px;
	font-size: 1.1em;
	cursor: pointer;
	border-radius: 5em;
	box-shadow: 0 1px 4px black;
}
.audio-callbtn{
	color: hsl(123, 50%, 50%);
}
.video-callbtn {
	color: hsl(3, 100%, 40%);
}
.smallbtn{
	border-radius: 2px;
	height: 2em; width: 2em;
	margin: 0.4em 0.2em;
	background-color: #fff;
	box-shadow: unset;
	padding: 0;
}

.error-page{
	font-weight: 'Oxygen', sans-serif;
	font-weight: 400;
	background-color: #fff;
	border-radius: 1em;
	color: #36454f;
	position: relative;
	height: 60vh;
	width: 80vw;
	padding: 20%;
	margin: 5vh auto;
}

.error-page>h1, .error-page>h2, .error-page>p{
	text-shadow: unset;
}

.sharebtn, .dlbtn{
	width: 80%;
	height: 2.7em;
	border: none;
	border-radius: 1.5em;
	background-color: hsl(39, 92%, 56%);
	padding: 12px 12px;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 5em;
	box-shadow: 0 1px 4px black;
	border-radius: 0.3em;
	margin-bottom: 3em;
}

input[type="text"]{
	font-size: 20px;
}

.dl-input{
	margin: 3em auto 0.5em auto;
	justify-content: center;
	height: 3em;
	width: 80%;
}

.call{
	position: fixed;
	bottom:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: hsla(123, 100%, 10%, 0.64);
	background: linear-gradient(0deg, rgba(0,0,0,0.94) 0%, rgba(0,22,1,0.97) 37%, rgba(0,65,3,1) 100%);
}

.callbtns{
	position: absolute;
	bottom: 5vh;
	left: 20%;
	width: 60%;
	justify-content: space-between;
	z-index: 4;
}

 .mutebtn, .novideo-btn, .endcall-btn {
	width: 3em;
	height: 3em;
	border: none;
	border-radius: 1.5em;
	background-color: hsla(0,0%,45%,0.7);
	padding: auto;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 5em;
	box-shadow: 0 1px 4px black;
	z-index: 4;
}

.mutebtn:focus, .novideo-btn:focus, .endcall-btn:focus {
	opacity: unset;
}

i{
	font-size: 24px;
}

.closebtn{
	position: absolute;
	right: 1.3em;
	top: 1.3em;
	color: hsla(0,0%,45%,0.7);
	background: transparent;
	border: none;
	z-index: 4;
}

.mutebtn, .novideo-btn {
	opacity: 0.6;
}

.endcall-btn{
	background-color: hsla(0,100%,50%,0.9);
}

.activeCallCtrl{
	background-color: #fff;
	opacity: 1;
}

.feedLayer {
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.feed {
	margin: 0; padding: 0; display: inline-block; border: none;
	background-color: hsla(0,0%,0%,0.7); position: relative;
}

.feedtitle {
	position: absolute;
	color: #fff;
	bottom: 15%;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

video {
	object-fit: cover;
	z-index: 3;
}

#file-container {
 width: 80%;
}
